body{
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: #564d6e;
     height: 100vh;


}
.container{
    text-align: center;
    background: rgb(100, 112, 144);
    border-radius: 10px;
    /* height: auto; */
    width: 350px;
    padding: 30px;
    box-shadow: 0 0 15px rgb(86, 121, 149);
 
}
input{
    width: 90%;
    padding: 8px;
    margin-bottom: 10px;

}
button{
    padding: 8px 15px;
    cursor: pointer;

}
#result{
    text-align: left;
    margin-top: 15px;
}